@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .title-card {
        background: #fff;
        border-radius: 18px;
        box-shadow: 0 8px 32px rgba(65, 84, 241, 0.11);
        padding: 32px 28px 26px 28px;
        font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
        color: #1e293b;
        line-height: 1.6;
        margin-bottom: 26px;
    }
</style>

<div class="title-card" style="margin:1% 0% 0% 5%;max-width:90%">
    <h1 style="margin-bottom: 3%;">
        Notifications
    </h1>

    @if (ViewBag.CurrentUser == "Guest")
    {
        <section class="title-card">
            <h3>Welcome, Guest User 👋</h3><br />
            <p>

                <strong>For a limited time,</strong> you have <strong style="color:red">Manager privileges.</strong>
                <ul> <i class="fa-solid fa-check"></i> You can create tasks <a asp-area="Manager" asp-controller="Home" asp-action="Task" title="Explore"><i class="fa-solid fa-square-arrow-up-right"></i> </a></ul>
                <ul> <i class="fa-solid fa-check"></i> You can view task updates <a asp-area="Manager" asp-controller="Home" asp-action="Index" title="Explore"><i class="fa-solid fa-square-arrow-up-right"></i> </a></ul>
                <ul> <i class="fa-solid fa-check"></i> You can submit bug reports, suggestions and feedbacks for this application <a asp-area="" asp-controller="Home" asp-action="Feedback" title="Explore"><i class="fa-solid fa-square-arrow-up-right"></i> </a> </ul>
                <ul> <i class="fa-solid fa-check"></i> learn more about this application <a asp-area="" asp-controller="Home" asp-action="ProjectOverview" title="Explore"><i class="fa-solid fa-square-arrow-up-right"></i> </a> </ul>
                <ul> <i class="fa-solid fa-xmark"></i> Access to <strong style="color:red">Admin and Developer pages is restricted.</strong> </ul>
            </p>
        </section>
    }
    
    @if (ViewBag.CurrentUser == "Admin")
    {
        <section class="title-card">
            <h3>Welcome, Admin 👋</h3><br />
            <p>
                <ul><i class="fa-solid fa-check"></i> To Generate reports / Enable or Disable Api <a asp-area="Admin" asp-controller="Home" asp-action="GenerateReports" title="Explore"><i class="fa-solid fa-square-arrow-up-right"></i> </a></ul>
            </p>
        </section>
    }

    @if (ViewBag.CurrentUser == "Manager")
    {
        <section class="title-card">
            <h3>Welcome, Manager 👋</h3><br />
            <p>
                <ul><i class="fa-solid fa-check"></i> You can create tasks</ul>
                <ul><i class="fa-solid fa-check"></i> You can view task updates</ul>
                <ul><i class="fa-solid fa-xmark"></i> Access to <strong>Admin and Developer pages is restricted.</strong> </ul>
            </p>
        </section>
    }

    @if (ViewBag.CurrentUser == "Developer")
    {
        <section class="title-card">
            <h3>Welcome, Dev 👋</h3><br />
            <p>
                <ul><i class="fa-solid fa-check"></i> Update Task status <a asp-area="Developer" asp-controller="Home" asp-action="Index" title="Explore"><i class="fa-solid fa-square-arrow-up-right"></i> </a></ul>
            </p>
        </section>
    }
    
</div>